
.theme-black {
  background: #000000;
  color: white;
  min-height: 100vh;
}


.theme-white {
  background: #ffffff;
  color: #111827;
  min-height: 100vh;
}


.theme-navy {
  min-height: 100vh;
  color: #e5e7eb;

  background:
    linear-gradient(rgba(10,25,47,0.92), rgba(10,25,47,0.92)),
    url("https://images.unsplash.com/photo-1554224155-8d04cb21cd6c");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 900px;
}

.card {
  border-radius: 12px;
  border: none;
  margin-bottom: 15px;
  padding: 10px;
}


.theme-navy .card {
  background: #112240;
  color: white;
}


.theme-white .card {
  background: #f8fafc;
}

.theme-black .card {
  background: #111;
}


.table {
  background: white;
}


.btn-primary {
  background: #1d4ed8;
  border: none;
}

.btn-danger {
  background: #dc2626;
  border: none;
}